.modal-card-class {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(193, 199, 208, 1);
    backdrop-filter: blur(20px);
 
}