body {
  margin: 0;
  background: #e5e5e5;
}

.desktop {
  display: none;
}

.tools {
  background-color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 70px 0 10px 20px;
  margin: 0;
  color: #172b4d;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 70px 0 10px 20px;
  margin: 0;
  color: #172b4d;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 0 24px 0 24px;
  color: #344563;
  margin: 0;
}

.head-part {
  background-image: url(images/background-image.png);
  background-repeat: no-repeat;
  background-color: #fff;
  margin: 0 0 71px 0;
}

.wrapper {
  margin: auto;
}

.logo {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.abt-self {
  padding: 0;
}

ul {
  list-style: none;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

li {
  padding-right: 20px;
}

.head-h4 {
  text-decoration-color: #87ceeb;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  padding: 0 24px 0 24px;
}

.header {
  font-size: 40px;
  font-style: bold;
}

.font_icons {
  display: flex;
  list-style: none;
  padding: 0 24px 0 24px;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  margin: auto;
}

.work-sec-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 44px 24px;
}

.container-image {
  border-radius: 8px;
  padding: 16px 16px 12px 16px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  padding: 0 16px 12px 16px;
  color: #172b4d;
}

.flex-items {
  list-style: none;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 0 0 20px 16px;
  margin: 0;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0 16px 12px 16px;
}

.canopy {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.backend {
  color: #7a869a;
}

.year {
  color: #7a869a;
}

.btn-container-flex {
  display: flex;
  list-style: none;
  padding: 0 0 10px 16px;
}

.btn-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.btn-lang span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see-project {
  padding: 0 0 16px 16px;
  color: #120ca6;
}

.p-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
}

.about-me {
  background-color: #fff;
  border-radius: 0 60px 0 0;
}

.get-resume {
  padding: 0 0 0 24px;
}

.arrow1 {
  display: flex;
  align-items: center;
  padding: 0 36px;
  justify-content: space-between;
}

.arrow1 p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 48px 0 20px 0;
}

.arrow1 img {
  padding: 0 28px;
}

.code-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 36px;
}

.code-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 6px 0;
  padding: 9px 16px 10px 12px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

/* contact-form */
.info-head {
  color: white;
  text-align: center;
}

.form-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #6070ff;
  padding-bottom: 20px;
  background-image: url("images/contact-form-img.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  border-radius: 60px 0 0 0;
}

.background {
  background-color: #2230d2;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
}

#enterName {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
  border-radius: 8px;
  border-style: none;
}

#enterEmail {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}

.text-area {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
  width: 327px;
}

.contact-button {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 30px;
}

input {
  width: 320px;
  height: 48px;
  margin-bottom: 15px;
  border-radius: 8px;
  border-style: none;
}

textarea {
  width: 320px;
  height: 148px;
  margin-bottom: 15px;
  border-radius: 8px;
  border-style: none;
}

.main-text {
  width: 320px;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.btn {
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  height: 48px;
  border-radius: 8px;
  border-style: none;
  color: #6070ff;
  font-size: 17px;
}

/* Media Query Section(Desktop Version) */
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .nav-icons {
    display: flex;
  }

  .nav-icons li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .items {
    padding: 26px 155px;
  }

  .head-part {
    background-image: url(images/background-image-bg.png);
    background-size: contain;
    background-position: center;
  }

  .head-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    padding: 360px 0 0 260px;
    width: 920px;
  }

  .head-part-text {
    padding: 12px 260px 12px 260px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .work-sec-card {
    flex-direction: row;
    margin: 71px 142px;
  }

  .social_icons {
    display: flex;
  }

  .font_icons {
    display: flex;
    padding: 0 0 255px 260px;
  }

  .head-h4 {
    padding: 0 0 14px 260px;
    margin: 0;
  }

  .container-image {
    padding: 24px;
  }

  .card-details {
    padding: 0 22px;
    height: 100%;
  }

  .title {
    padding: 48px 0 12px 0;
  }

  .flex-items {
    height: 40px;
    align-items: center;
    padding: 0 0 24px 0;
  }

  .card-text {
    padding: 0 0 24px 0;
  }

  .btn {
    height: 24px;
    padding: 0 8px 0 0;
  }

  .btn-container-flex {
    margin: 0;
    padding: 0 0 40px 0;
  }

  .image-right {
    padding: 0 22px 0 48px;
  }

  .about-me {
    display: flex;
  }

  .about-self1 {
    padding: 142px 0 0 142px;
    width: 447px;
  }

  .paragraph {
    padding: 0 0;
    margin: 0;
  }

  .about-h2 {
    padding: 0;
  }

  .about-text {
    padding: 12px 0;
  }

  .about-sm {
    padding: 16px 0 0 24px;
  }

  .about-button {
    padding: 0 0 134px 0;
  }

  .about-self2 {
    width: 684px;
    padding: 142px 142px 0 25px;
  }

  .about-si {
    display: flex;
    flex-direction: column;
  }

  .arrow1 p {
    padding: 0;
  }

  .arrow1 {
    height: 72px;
  }

  .abt-self {
    margin: 0;
  }

  .form-container {
    background-image: url("images/desktop-back-img.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
  }

  .form {
    flex-direction: column;
  }

  .about-get {
    text-align: center;
    padding: 28px 19px;
    display: flex;
  }

  .anime {
    transition: 0.9s ease-in-out;
  }

  .anime.go:hover {
    transform: translate(20px, 0);
  }
}
